{% load static %}

<ul class="navbar-nav ms-auto">
  {% if user.is_authenticated %}
  <li class="nav-item">
    <span class="nav-link text-neon">Olá, {{ user.email }}</span>
  </li>
  <li class="nav-item">
    <a class="nav-link text-neon" href="{% url 'profile:logout' %}">
      <i class="fas fa-sign-out-alt"></i> Sair
    </a>
  </li>
  {% else %}
  <li class="nav-item">
    <a class="nav-link text-neon" href="{% url 'profile:login' %}">
      <i class="fas fa-sign-in-alt"></i> Entrar
    </a>
  </li>
  {% endif %}
</ul>
