{% extends 'base.html' %}
{% load static %}
{% block title %}Completar Cadastro (Nutricionista){% endblock %}

{% block content_guest %}
  <div class="card text-center">
    <div class="login-logo mb-3">
      <a href="#"><b>FitApp</b></a>
    </div>
    <p class="login-box-msg">Complete seu cadastro de <b>Nutricionista</b></p>

    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-success btn-block mt-2">Salvar e continuar</button>
    </form>
  </div>
{% endblock %}
