{% extends "base.html" %}
{% block title %}Excluir Usuário | FitApp{% endblock %}
{% block page_title %}Confirmar Exclusão{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-lg-6">
    <div class="card card-danger card-outline text-center">
      <div class="card-body">
        <p class="mb-4">Tem certeza que deseja excluir o usuário <strong>{{ user.username }}</strong>?</p>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger mr-2">Confirmar Exclusão</button>
          <a href="{% url 'profile:user_list' %}" class="btn btn-default">Cancelar</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
