{% extends 'base.html' %}
{% block title %}Login | FitApp{% endblock %}
{% block body_class %}hold-transition login-page{% endblock %}
{% block layout %}
<div class="login-box">
  <div class="login-logo">
    <a href="{% url 'home' %}"><b>Fit</b>App</a>
  </div>
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Entre para acessar seu painel</p>
      {% include 'includes/messages.html' %}
      {% if form.non_field_errors %}
        <div class="alert alert-danger">
          {% for error in form.non_field_errors %}{{ error }}{% endfor %}
        </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
          {% with username_class='form-control' %}
            {% if form.errors.username %}
              {% with username_class=username_class|add:' is-invalid' %}
                {{ form.username.as_widget(attrs={'class': username_class, 'placeholder': 'Usuário'}) }}
              {% endwith %}
            {% else %}
              {{ form.username.as_widget(attrs={'class': username_class, 'placeholder': 'Usuário'}) }}
            {% endif %}
          {% endwith %}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        {% if form.errors.username %}
          <div class="invalid-feedback d-block mb-2">
            {{ form.errors.username|join:' ' }}
          </div>
        {% endif %}
        <div class="input-group mb-3">
          {% with password_class='form-control' %}
            {% if form.errors.password %}
              {% with password_class=password_class|add:' is-invalid' %}
                {{ form.password.as_widget(attrs={'class': password_class, 'placeholder': 'Senha'}) }}
              {% endwith %}
            {% else %}
              {{ form.password.as_widget(attrs={'class': password_class, 'placeholder': 'Senha'}) }}
            {% endif %}
          {% endwith %}
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        {% if form.errors.password %}
          <div class="invalid-feedback d-block mb-2">
            {{ form.errors.password|join:' ' }}
          </div>
        {% endif %}
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
          </div>
        </div>
      </form>

      <p class="mb-0 text-center mt-3">
        <a href="{% url 'profile:register' %}" class="text-center">Quero criar uma conta</a>
      </p>
    </div>
  </div>
</div>
{% endblock %}
